<div class="bg-surface-0 dark:bg-surface-900 min-h-screen">
    <div id="home" class="landing-wrapper overflow-hidden">
        <topbar-widget
            class="py-6 px-6 mx-0 md:mx-12 lg:mx-20 lg:px-20 flex items-center justify-between relative lg:static" />

        <p-fluid class="flex-1 overflow-auto">
            <div class="flex mt-8">
                <div class="card flex flex-col gap-6 w-full">
                    <div class="font-semibold text-xl">Denuncias, Quejas o Sugerencias</div>
                    <div class="flex flex-col md:flex-row gap-6">
                        <div class="flex flex-wrap gap-2 w-full">
                            <label for="firstname">Nombres</label>
                            <input pInputText id="firstname" type="text" />
                        </div>
                        <div class="flex flex-wrap gap-2 w-full">
                            <label for="lastname">Apellidos</label>
                            <input pInputText id="lastname" type="text" />
                        </div>
                    </div>
                    <div class="flex flex-col md:flex-row gap-6">
                        <div class="flex flex-wrap gap-2 w-full">
                            <label for="email">Email</label>
                            <input pInputText id="email" type="text" />
                        </div>
                        <div class="flex flex-wrap gap-2 w-full">
                            <label for="phone">Teléfono</label>
                            <input pInputText id="phone" type="text" />
                        </div>
                    </div>

                    <div class="flex flex-col md:flex-row gap-6">
                        <div class="flex flex-wrap gap-2 w-full">
                            <label for="state">Tipo</label>
                            <p-select id="state" [(ngModel)]="dropdownItem" [options]="dropdownItems" optionLabel="name"
                                placeholder="Seleccione uno" class="w-full"></p-select>
                        </div>


                        <div class="flex items-center flex-wrap gap-2 w-full">
                            <p-checkbox id="checkOption3" name="option" value="true" [(ngModel)]="checkboxValue" />
                            <label for="checkOption3" class="ml-2">Contactar</label>
                        </div>
                    </div>

                    <div class="flex flex-wrap">
                        <label for="description">Descripción</label>
                        <textarea pTextarea id="description" rows="4"></textarea>
                    </div>


                    <!--div class="flex flex-wrap">
                        <google-map class="full-map" [center]="center" [zoom]="zoom">
                        </google-map>
                    </div-->
                </div>
            </div>



        </p-fluid>

    </div>
</div>
